<!-- Registration Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="card border-0">
          <div class="card-header bg-secondary text-center p-4">
            <h1 class="text-white m-0">{{ title }}</h1>
          </div>
          <div class="card-body rounded-bottom bg-primary p-5">
            <form #addCourseForm="ngForm" (ngSubmit)="addCourse()">
              <!-- id form -->
              <!-- event -->

              <div class="input-group p-2">
                <div class="input-group-prepend"></div>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="course.name"
                  name="name"
                  placeholder="course name"
                />
                <!-- give a name or an option [ngModelOptions]="{standalone:true}" To separate the inputs -->
              </div>
              <div class="input-group p-2">
                <div class="input-group-prepend"></div>
                <input
                  type="text-area"
                  class="form-control"
                  [(ngModel)]="course.description"
                  name="description"
                  placeholder="course  description"
                />
                <!-- give a name or an option [ngModelOptions]="{standalone:true}" To separate the inputs -->
              </div>

              <div>
                <button
                  class="btn btn-secondary btn-block border-0 py-3 mt-5"
                  type="submit"
                >
                  Add
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Registration End -->
